{% extends 'base.html' %}
{% load staticfiles %}
{% block customer_css %}
    <style>
        /*以下是对bootstrap中tooltip的默认属性进行重新设定*/
        .modal-open {
            overflow: hidden;
        }

        .modal {
            display: none;
            overflow: hidden;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1050;
            -webkit-overflow-scrolling: touch;
            outline: 0;
        }

        .modal.fade .modal-dialog {
            -webkit-transform: translate(0, -25%);
            -ms-transform: translate(0, -25%);
            -o-transform: translate(0, -25%);
            transform: translate(0, -25%);
            -webkit-transition: -webkit-transform 0.3s ease-out;
            -moz-transition: -moz-transform 0.3s ease-out;
            -o-transition: -o-transform 0.3s ease-out;
            transition: transform 0.3s ease-out;
        }

        .modal.in .modal-dialog {
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
        }

        .modal-open .modal {
            overflow-x: hidden;
            overflow-y: auto;
        }

        .modal-dialog {
            position: relative;
            width: auto;
            margin: 10px;
        }

        .modal-content {
            position: relative;
            background-color: #ebebeb;
            border: 1px solid #999;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 6px;
            -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
            background-clip: padding-box;
            outline: 0;
            font-family: YouYuan;
            font-color: #666666;
        }

        .modal-backdrop {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1040;
            background-color: #000;
        }

        .modal-backdrop.fade {
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .modal-backdrop.in {
            opacity: 0.5;
            filter: alpha(opacity=50);
        }

        .modal-header {
            padding: 15px;
            border-bottom: 1px solid #999999;
            font-weight: bold;
            min-height: 16.42857px;
        }

        .modal-header .close {
            margin-top: -2px;
        }

        .modal-title {
            margin: 0;
            line-height: 1.42857;
            font-weight: bold;
            text-align: center;
            font-size: 25px;
            font-family: Microsoft Yahei;
            color: #74787c;
        }

        .modal-body {
            position: relative;
            padding: 30px 30px 50px;
        / / max-height: 800 px;
        }

        .modal-footer {
        / / padding: 150 px 30 px 30 px;
            padding: 30px;
            text-align: right;
            border-top: none;
        }

        .modal-footer:before, .modal-footer:after {
            content: " ";
            display: table;
        }

        .modal-footer:after {
            clear: both;
        }

        .modal-footer .btn + .btn {
            margin-left: 5px;
            margin-bottom: 0;
        }

        .modal-footer .btn-group .btn + .btn {
            margin-left: -1px;
        }

        .modal-footer .btn-block + .btn-block {
            margin-left: 0;
        }

        .modal-scrollbar-measure {
            position: absolute;
            top: -9999px;
            width: 50px;
            height: 50px;
            overflow: scroll;
        }

        @media (min-width: 768px) {
            .modal-dialog {
                width: auto;
            / / margin: 30 px auto;
                margin: 150px
            }

            .modal-content {
                -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            }

            .modal-sm {
                width: 300px;
            }
        }

        @media (min-width: 992px) {
            .modal-lg {
                width: 900px;
            }
        }
    </style>
{% endblock customer_css %}
{% block title %}
    Education &mdash; 关于我们
{% endblock title %}
{% block show_banner %}
    <aside id="fh5co-hero">
        <div class="flexslider">
            <ul class="slides">
                {% for banner in all_banners %}
                    <li style="background-image: url('{{ MEDIA_URL }}{{ banner.image }}');">
                        <div class="overlay-gradient"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center slider-text">
                                    <div class="slider-text-inner">
                                        <h1>{{ banner.title }}</h1>

                                        <p><a class="btn btn-primary btn-lg" href="{% url 'home:course' %}">开始学习吧!</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </aside>
{% endblock show_banner %}
{% block main %}
    <!--课程分类-->
    <div id="fh5co-course-categories">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                    <h2>课程类别</h2>
                    <p>我们有这些这些这些类型的课程呀</p>
                </div>
            </div>
            <div class="row">
                {% for category in all_categories %}
                    <div class="col-md-3 col-sm-6 text-center animate-box">
                        <div class="services">
						<span class="icon">
							<i class="icon-{{ category.icon_name }}"></i>
						</span>
                            <div class="desc">
                                <h3><strong><a href="#">{{ category.name }}</a></strong></h3>
                                <p>{{ category.desc }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--授课人数-->
    <div id="fh5co-counter" class="fh5co-counters"
         style="background-image: url({% static 'home/images/img_bg_4.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 text-center animate-box">
                            <span class="icon"><i class="icon-world"></i></span>
                            <span class="fh5co-counter js-counter" data-from="0" data-to="3297" data-speed="5000"
                                  data-refresh-interval="50"></span>
                            <span class="fh5co-counter-label">学生数量</span>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center animate-box">
                            <span class="icon"><i class="icon-study"></i></span>
                            <span class="fh5co-counter js-counter" data-from="0" data-to="3700" data-speed="5000"
                                  data-refresh-interval="50"></span>
                            <span class="fh5co-counter-label">关注人数</span>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center animate-box">
                            <span class="icon"><i class="icon-bulb"></i></span>
                            <span class="fh5co-counter js-counter" data-from="0" data-to="5034" data-speed="5000"
                                  data-refresh-interval="50"></span>
                            <span class="fh5co-counter-label">金牌课程</span>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center animate-box">
                            <span class="icon"><i class="icon-head"></i></span>
                            <span class="fh5co-counter js-counter" data-from="0" data-to="1080" data-speed="5000"
                                  data-refresh-interval="50"></span>
                            <span class="fh5co-counter-label">授课老师</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--课程介绍-->
    <div id="fh5co-course">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                    <h2>我们的课程</h2>
                    <p>巴拉巴拉巴拉巴拉小魔仙课程</p>
                </div>
            </div>

            <div class="row">
                {% for course in all_courses %}
                    <div class="col-md-6 animate-box">
                        <div class="course">
                            <a href="{% url 'home:course' %}" class="course-img"
                               style="background-image: url('{{ MEDIA_URL }}{{ course.image }}');">
                            </a>
                            <div class="desc">
                                <h3>{{ course.name }}</h3>
                                <p>{{ course.desc }}</p>
                                <span><a href="#modal{{ course.id }}" class="btn btn-primary btn-sm btn-course"
                                         data-toggle="modal">更多详情</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="modal{{ course.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        {{ course.name }}
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="col-md-6 animate-box" style="height: 300px;">
                                        <p>{{ course.detail }}</p>
                                    </div>
                                    <div class="col-md-6" style="height: 300px;">
                                        <div id="myCarousel{{ course.id }}" class="carousel slide" data-ride="carousel">
                                            <!-- 轮播（Carousel）指标 -->
                                            <ol class="carousel-indicators">
                                                <li data-target="#myCarousel{{ course.id }}" data-slide-to="0"
                                                    class="active"></li>
                                                <li data-target="#myCarousel{{ course.id }}" data-slide-to="1"></li>
                                                <li data-target="#myCarousel{{ course.id }}" data-slide-to="2"></li>
                                            </ol>
                                            <!-- 轮播（Carousel）项目 -->
                                            <div class="carousel-inner">
                                                <div class="item active">
                                                    <img src="{{ MEDIA_URL }}banner/project-5.jpg" alt="First slide">
                                                </div>
                                                <div class="item">
                                                    <img src="{{ MEDIA_URL }}banner/project-6.jpg" alt="Second slide">
                                                </div>
                                                <div class="item">
                                                    <img src="{{ MEDIA_URL }}banner/project-7.jpg" alt="Third slide">
                                                </div>
                                            </div>
                                            <!-- 轮播（Carousel）导航 -->
                                            <a class="carousel-control left" href="#myCarousel{{ course.id }}"
                                               data-slide="prev">&lsaquo;</a>
                                            <a class="carousel-control right" href="#myCarousel{{ course.id }}"
                                               data-slide="next">&rsaquo;</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            style="margin-top: 30px;">关闭
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div><!-- 弹出框结束 -->
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock main %}

{% block gallery %}
    <!--Gallery展示-->
    <div id="fh5co-gallery" class="fh5co-bg-section">
        <div class="row text-center">
            <h2><span>作品展示</span></h2>
        </div>
        <div class="row">
            <div class="col-md-3 col-padded">
                <a href="#" class="gallery"
                   style="background-image: url({% static 'home/images/project-2.jpg' %});"></a>
            </div>
            <div class="col-md-3 col-padded">
                <a href="#" class="gallery"
                   style="background-image: url({% static 'home/images/project-2.jpg' %});"></a>
            </div>
            <div class="col-md-3 col-padded">
                <a href="#" class="gallery"
                   style="background-image: url({% static 'home/images/project-3.jpg' %});"></a>
            </div>
            <div class="col-md-3 col-padded">
                <a href="#" class="gallery"
                   style="background-image: url({% static 'home/images/project-4.jpg' %});"></a>
            </div>
        </div>
    </div>
{% endblock gallery %}
